body {
  background: -webkit-linear-gradient(left, #fff, #6f9dac);
}

/* Headerpage */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  margin-left: 27rem;
  align-items: center;
  z-index: 99;
}
#company-logo {
  height: 4rem;
  width: 4rem;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #0062cc;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #0062cc;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1 em;
  color: #0062cc;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #0062cc;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .btnLogin-popup:hover {
  background-color: #0062cc;
  color: #fff;
}

/* registration */
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper.active {
  height: 520px;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
/* .wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
} */
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.form-box h2 {
  font-size: 2em;
  color: #0062cc;
}
.input-box {
  position: relative;
  width: 90%;
  height: 20px;
  border-bottom: 2px solid#0062cc;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #0062cc;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #0062cc;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #0062cc;
  line-height: 57px;
}
.remember-forgot {
  font-size: 0.9em;
  color: #0062cc;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #0062cc;
  margin-right: 30px;
}
.remember-forgot a {
  color: #0062cc;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 20%;
  height: 45px;
  background-color: #0062cc;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-register {
  font-size: 0.9em;
  color: #0062cc;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #0062cc;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

/* table */
table {
  border: 0;
  width: 40rem;
  height: 2rem;
  background-color: #fff;
  margin-top: 2rem;
  margin-right: 5rem;
  cursor: pointer;
}
.first-low {
  background-color: #0062cc;
  color: white;
  text-transform: uppercase;
}
tr:hover {
  background-color: rgb(83, 80, 74);
}
.wrapper {
  display: flex;
  margin-left: 5rem;
  margin-top: 3rem;
}
